version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(deps)"
    groups:
      grpc:
        patterns:
          - "io.grpc:*"
          - "io.netty:*"

      protobuf:
        patterns:
          - "com.google.protobuf:*"
          - "io.grpc:protoc-gen-grpc-java"

      test:
        patterns:
          - "org.junit.jupiter:*"
          - "org.mockito:*"
          - "uk.org.webcompere:*"
          - "org.bouncycastle:*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(ci)"
    groups:
      github-actions:
        patterns:
          - "*"
